.jogo-back{
    height: 500px;
    width: 300px;
    background-color: #F4F4F4;
    border-radius: 20px;
    align-items: center;
    justify-content: top;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 8px #1A7A63; 
}
.jogo{
    display: flex;
    width: 300px;
    height: 220px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.jogo-title{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-left: 15px;
    width: 250px;
    height: 80px;
    background-color: #F4F4F4;
    color: #2C2C54;
    font-size: 30px;
    font-family: Bahnschrift;
}
.jogo-description{
    background-color: #F4F4F4;
    align-items: top;
    width: 230px;
    height: 120px;
    color: #2C2C54;
    font-size: 15px;
    font-family: Bahnschrift;
}
.jogo-arrow{
    margin-top: 15px;
    background-color: #F4F4F4;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: rotate(90deg);
}
.back-hover{
    height: 560px;
    width: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    margin-left: 80px;
}
.back-hover:hover{
    background-color: #28B795;
}